body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: consolas;
    background: #241430;
}
#button{
    -webkit-appearance: none;
    visibility: hidden;
    display: none;
}
.check{
    position: relative;
    display: block;
    width: 100px;
    height: 40px;
    padding: 15px 30px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    background: rgb(0, 0, 0);
    cursor: pointer;
    border-radius: 5px;
    overflow: hidden;
}
.h1{
    position: absolute;
    text-transform: uppercase;
    visibility: hidden;
}
#button:checked~ .check{
    width: 2px;
    height: 2px;
    padding: 0px;
    transition: box-shadow 3s ease-in 0.8s, width 1s ease-in-out, height 1s, padding 0s, background 0s linear 1s ;
    box-shadow: 0 0 0 1800px rgba(0, 0, 0, 0.5);
    background: blueviolet;
    
}
#button:checked~ .h1{
    cursor: pointer;
    display:contents;
    visibility: visible;
    transition-delay: 1s;
    color: blueviolet;
}
.check:hover{
    background: rgb(17, 17, 17);
    transition: box-shadow 1s  0s;
    box-shadow: 0 0 10px #440A67, 0 0 40px #440A67, 0 0 10px #440A67;
}

